<!--<!doctype html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <title>BIN VIEW</title>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--</head>-->

<!--<body>-->
<!--<div class="card text-center">-->
<!--  <div class="card-header">-->
<!--   <b>BIN VIEW</b>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Bin 1</h5>-->
<!--                        <p class="card-title">Bin id: {{ id }}</p>-->
<!--                        <p class="card-text">Capacity: {{ capacity }}</p>-->
<!--                        <p class="card-text">Place: {{ place }}</p>-->
<!--                        <p class="card-text">distance: {{ distance }}cm</p>-->
<!--                        <a href="{% url 'single' %}" class="btn btn-primary">more details</a>-->
<!--  </div>-->
<!--  <div class="card-footer text-muted">-->
<!--    #####-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->

<!--</html>-->

<!doctype html>
<html lang="en">

<head>
    <title>BIN VIEW</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>GARBO</a>
  </div>
  </nav>
   <section id="header" class="jumbotron text-center">
     <h1 class="display-20">Active Bins</h1>

</section>

<div class="card text-center">
  <div class="card-header">
   <b>BIN VIEW</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">Bin 1</h5>
                        <table>
                        <p class="card-text">Bin id: {{ id }}</p>
                        <p class="card-text">Capacity: {{ capacity }}</p>
                        <p class="card-text">Place: {{ place }}</p>
                        <p class="card-text">distance: {{ distance }}cm</p>
                        <p class="card-text">Muncipality: {{ muncipality }}</p>
                        <a href="{% url 'single' %}" class="btn btn-primary">more details</a>
                            </table>
  </div>

</div>

</body>

</html>
